body {
    background: conic-gradient(from 45deg, #001aff, #8000ff);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    max-width: 100%; /* Ancho máximo del contenedor padre */
    width: 35rem; 
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.5); /* Sombras más ligeras en dispositivos más pequeños */
  }
  
  .collapsible {
    background-color: #050505; /* Cambiar el color de fondo a un tono más claro */
    color: #ffffff;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active,
  .collapsible:hover {
    font-size: 20px;
    transition: 0.5s;
    background-color: #001aff;
    tex-shadow:  2px 2px 40px rgb(255, 255, 255);
  }
  
  .content {
    
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .imagen-circular img {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: auto; /* Establece los márgenes automáticos para centrar la imagen horizontalmente */
    border-radius: 50%;
    border: 5px solid #ad5bff;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transform: scale(0.8); /* Ajusta este valor según lo alejado que quieras que se vea la imagen */
  }
  
  .imagen-circular:hover img {
    transform: scale(0.9);
    transition: 0.5s;
  }
  
  /* Estilo para los títulos y los iconos dentro del div .col-6 */
  .col-6 .title,
  .col-6 .subtitle,
  .col-6 .icon {
    color: #050505; /* Color del texto e iconos */
  }
  
  .col-6 .title {
    font-weight: bold;
    font-size: 24px; /* Tamaño de fuente para el título */
    margin-bottom: 10px; /* Margen inferior para separar el título del subtítulo */
  }
  
  .col-6 .subtitle {
    font-size: 16px; /* Tamaño de fuente para el subtítulo */
  }
  
  /* Estilo para los iconos dentro del div .col-6 */
  .col-6 .icon {
    font-size: 38px; /* Tamaño de fuente para los iconos */
    margin-right: 10px; /* Margen derecho para separar los iconos */
    padding: 10px; /* Relleno para dar espacio alrededor de los iconos */
    float: left;
    transition: all 0.3s ease;
  }
  
  /* Estilo para los iconos al pasar el cursor sobre ellos */
  .col-6 .icon:hover {
    color: #001aff; /* Cambia el color del icono al pasar el cursor sobre él */
    font-size: 50px; /* Aumenta el tamaño del icono al pasar el cursor sobre él */
    transform: rotate(360deg); /* Realiza una rotación completa al pasar el cursor sobre el icono */
  }
  
  .collapsible-content {
    display: none;
    transition: all 0.5s ease; /* Transición de 0.5 segundos con un efecto suave */
  }
  

  